// Specific CSS for your home-page
.homefirst_container {
  text-align: center;
  background-image: url("scout.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size:cover;
  height:100vh;
  width: 104%;
    -webkit-background-size:cover;
    -moz-background-size:cover;
    -o-background-size:cover;
    z-index: -1;
  color: #FFEBFF;
  padding: 25px 25px;
}

.actions_container {
  border-radius: 5px;
  box-shadow: 0px 0px 0px 1px #FFEBFF;
  margin-top: 85%;
}
.icons_container :hover {
  color: #FFEBFF;
  opacity: 0.7;
}

.icons_container {
  opacity: 1 !important;
  color: #FFEBFF;
  padding: 10px 10px;
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
}

.iconized {
  height: 25px;
  width: 25px;
}

.icon_1 {
  display: flex;
  flex-direction: column;
  align-items: center;
}
