
.buy_image {
  background-image: url('buy.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size:cover;
}
.rentbuy_image {
  background-image: url('rentbuy.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size:cover;
}
.card-category {
  justify-content: center;
  align-items: center;
  color: #ffebff;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  margin: 0 1%;
}
