
.buy_image {
  background-image: url('buy.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size:cover;
}
.rentbuy_image {
  background-image: url('rentbuy.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size:cover;
}
