.sell_image {
  background-image: url('sell.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size:cover;
}

.rent_image {
  background-image: url('rentsell.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size:cover;
}
#sale_rent_color {
  color: #080708 !important;
  font-size: 25px;
}
.sale_rent_container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 16px;
  height: 70%;
  text-align: center;
}
