<h1>In which category are you interested?</h1>
<div class="cards">
    <div class="card-category buy_image" >
      <%= link_to "Buy", offers_path, class: "nav-link" %>
    </div>
    <div class="card-category rentbuy_image" >
      <%= link_to "Rent", rents_path, class: "nav-link" %>
    </div>
</div>
