<h1>In which category are you interested?</h1>
<div class="sale_rent_container">
    <div class="card-category sell_image">
      <strong><%= link_to "Sell", new_offer_path, class: "nav-link", id:"sale_rent_color" %></strong>
    </div>
    <div class="card-category rent_image">
      <strong><%= link_to "Rent", new_rent_path, class: "nav-link", id:"sale_rent_color" %></strong>
    </div>
</div>
