<h1>In which item are you interested?</h1>
<div class="cards">
  <% @offers.each do |offer|%>
    <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/breakfast.jpg)">
      <%= link_to offer.name, offer_path(offer), class: "nav-link" %>
      <%= offer.category %>
      <%= offer.description%>
      <%= offer.price %>
    </div>
  <%end%>
</div>
