.cards {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 16px;
  height: 60%;
  color: #FFEBFF;
  text-align: center;
}
.offer-cards {
  background-color: #90BAAD;
  position: relative;
}
#color-black {
  color: black !important;
}

.placement {
  position: absolute;
  right: 0;
  vertical-align: top;
  width: 60px;
}


.separate {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
}
// search bar
.flexbar {
  flex-direction: row;
  display: flex;
  position: relative;
  margin: 1% 1%;
  // height: 3.5rem;
  //
  // border: 1px solid #E7E7E7;
}
.btn-search {
  background-color: #90BAAD;
  box-shadow: 0 2px 6px rgba(0,0,0,0.08);
  // position: absolute;
  // top: 8px;
  // bottom: 8px;
  // right: 8px;
}
.searchbar {
  width: 98%;
}
.searchbar:focus {
  border: 1px solid #1EDD88;
  outline: none !important;
  box-shadow: 0 2px 6px rgba(0,0,0,0.08);
}
// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .cards {
    grid-template-columns: 1fr 1fr;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .cards {
    grid-template-columns: 1fr 1fr;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .cards {
    grid-template-columns: 1fr 1fr;
  }
}
