// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";
@import "flatpickr/dist/themes/airbnb";

// Your CSS partials
@import "components/index";
@import "pages/index";
@import "pages/home";
@import "pages/offer_category";
@import "offers/index";
@import "offers/show";
@import "pages/sale_rent";

html,body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background-color: #8AA2A9;
}
h1 {
  color: #FFEBFF;
  text-align: center;
  font-size: 18px;
}

a:link, a:visited {
color:#FFEBFF !important;
}

a:hover, a:active {
  color: rgb(189, 169, 169);
}
